* { box-sizing: border-box; }

html,body {
        margin: 0;
        background-color: #F9F9F9;
        height: 100%;
}


/*contenedor primario */
.contenedor-primario {
        border: 0;
        margin: 0 auto;
        overflow: hidden;
}

/*contenido del contenedor primario */
.c-lateral-izquierdo {
        border: 1px solid #1e879f;
        background-color:  #1b798e;
        height: 100%;
        width: 16%;
        float: left;
}

.c-lateral-derecho {
        border: 0;
        margin: 0 auto;
        height: 100%;
        width: 100%;
}
/*fin contenido-primario - fin contenedor primario*/

/* contenido del contenedor lateral derecho [hay subcontenido] */
.c-lateral-derecho-superior {
        margin: 0 auto;
        width: 100%;
        border: 1px solid #186d80;
        background-color: #166678;
        height: 5%;
}

.c-lateral-derecho-bajo {
        margin: 0 auto;
        border: 0;
        background-color: #F6F6F6;
        height: 100%;
        display: flex;
        justify-content: center;
}

/* Contenido c-lateral-derecho-bajo [las cards del profe] */

.cards {
        border: medium solid #f0f0f0;
        background-color: #4199ad;
        padding: 0.8%;
        margin: 3%;
        width: 16%;
        height: 50%;
        overflow: hidden;
        float: left;
}

#cards-box-image {
        margin: 09648c3% auto;
        border: 50% solid #D7DBDD;
        width: 100%;
        height: 45%;
}

.cards h4 {
  font-weight: bold;
  font-size: 100%;
}

.cards p {
  font-size: 80%;
  color: #000;
}

.cards button {
  text-decoration:none;
  background-color: #d1d1d1;

}

/* Menu desplegable (simple)*/

.item {
   text-align: center;
   background-color: #145969;
   border: thin solid #17697c;
   padding: 5px;
   height: 100%;
   width: 5%;
   float: left;
}

#menu {
  height: 100%;
}

/* CLEARFIX */
#menu:after {
  content: "";
  display: table;
  clear: both;
}

.subitem {
  padding: 10.5px;
  background-color: #e3e3e3;
  border: thin solid #c3c3c3;
}

.submenu {
  display: none;
}

.item:hover .submenu {
    background-color: #bec2c2;
    border: thin solid #7d8688;
    display: block;
    position: absolute;
    width: auto;
    margin-top: 21.3px;
    margin-left: -6px;
}
